[submodule "VIM-Railscasts-Color-Theme"]
	path = VIM-Railscasts-Color-Theme
	url = https://github.com/minofare/VIM-Railscasts-Color-Theme.git
[submodule "vim-rspec"]
	path = vim-rspec
	url = https://github.com/skwp/vim-rspec.git
[submodule "vim-colors-solarized"]
	path = vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "phpfolding.vim"]
	path = phpfolding.vim
	url = https://github.com/vim-scripts/phpfolding.vim.git
[submodule "ManPageView"]
	path = ManPageView
	url = https://github.com/vim-scripts/ManPageView.git
[submodule "vim-textobj-rubyblock"]
	path = vim-textobj-rubyblock
	url = https://github.com/nelstrom/vim-textobj-rubyblock.git
[submodule "vim-textobj-user"]
	path = vim-textobj-user
	url = https://github.com/kana/vim-textobj-user.git
[submodule "vim-rvm"]
	path = vim-rvm
	url = https://github.com/tpope/vim-rvm.git
[submodule "vim-bundler"]
	path = vim-bundler
	url = https://github.com/tpope/vim-bundler.git
[submodule "AnsiEsc.vim"]
	path = AnsiEsc.vim
	url = https://github.com/vim-scripts/AnsiEsc.vim.git
